body {
background-color: #EFFBFB;
text-align: center;
}

#website {
	width:980px;
	margin:0 auto;
}

#header{
	width:980px;
	height:150px;
	background:#2EFEF7;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius:4px;
}
#header h1{
	
	font-weight:bold;
	font-family:Courier;
}

#main{
	width:980px;
}
#sidebar{
	float:left;
	width:200px;
	height:300px;
	margin-top:10px;
	margin-bottom:10px;
	background:#2EFEF7;
}
#content {
	float:right;
	width:770px;
	height:300px;
	background:#CEF6F5;
	margin-top:10px;
	margin-bottom:10px;
}
#footer{
	width:980px;
	height:30px;
	background:#01DFD7;
	border-radius: 4px;
	-moz-border-radius: 4px;
	clear:both;
	}